In [ ]:
list_bilangan_ganjil = [3,1,9,7,5]

In [ ]:
list_bilangan_ganjil

[1, 3, 5, 7, 9]

In [ ]:
# Append -> tambah value baru pada akhir list
list_bilangan_ganjil.append(11)

In [ ]:
# for i in list_bilangan_ganjil:
#   print(list_bilangan_ganjil.pop())

# list_bilangan_ganjil -> 5 item
# list_bilangan_ganjil -> 4 item
# list_bilangan_ganjil -> 3 item

9
5

In [ ]:
for i in range(0, len(list_bilangan_ganjil)):
  list_bilangan_ganjil.pop()

In [ ]:
list_bilangan_ganjil.clear()

0

In [ ]:
list_bilangan_ganjil_2 = list_bilangan_ganjil.copy()

In [ ]:
# list_bilangan_ganjil_2 
# memory location berbeda dengan list_bilangan_ganjil

[1, 3, 5, 7, 9]

In [ ]:
list_bilangan_ganjil_new = list_bilangan_ganjil

In [ ]:
list_bilangan_ganjil_new

[1, 3, 5, 7, 9]

In [ ]:
list_bilangan_ganjil

[1, 3, 5, 7, 9]

In [ ]:
list_bilangan_ganjil[0] = 0

In [ ]:
list_bilangan_ganjil

[0, 3, 5, 7, 9]

In [ ]:
list_bilangan_ganjil_new

[0, 3, 5, 7, 9]

In [ ]:
# memory locations

In [ ]:
case_count = [1,3,5,7,9,9,11]

In [ ]:
case_count.count(10)

0

In [ ]:
# if child is 6 years old
# flag as fraud
# can use .count() method

In [ ]:
# plot graphik umur anak, hitung berapa yang fraud
# if child is more than 10 years old

In [ ]:
fruits = ['apple', 'banana', 'cherry']
tropical_fruit = ['mango', 'avocado']
fruits.extend(tropical_fruit)

In [ ]:
fruits

['apple', 'banana', 'cherry', 'mango', 'avocado']

In [ ]:
fruits.index('banana')

1

In [ ]:
# insert
fruits.insert(1, 'orange')

In [ ]:
fruits.pop()

'avocado'

In [ ]:
fruits.remove("orange")

In [ ]:
fruits.reverse()

In [ ]:
fruits[-1]

['mango', 'cherry', 'banana', 'apple']

In [ ]:
# l[-4]    l[-3]     l[-2]    l[-1]

In [ ]:
fruits.sort()

In [ ]:
fruits

['apple', 'banana', 'cherry', 'mango']

In [ ]:
list_bilangan_ganjil.sort()

In [ ]:
list_bilangan_ganjil.sort(reverse=True)

In [ ]:
list_bilangan_ganjil

[9, 7, 5, 3, 1]

In [ ]:
# print bilangan fibbonaci yang kurang dari 50 
# yang juga merupakan bilangan ganjil [1-50]

# 1,1,2,3,5,8,13,21 -> fibbonaci
# 1,3,5,7,9, dst

# expected output -> 1,1,3,5,13,21, dst

In [ ]:
# buat logic print bilangan fibonacci
# filter (apakah dia % 2 == 0 (indicates -> ganjil atau genap))

In [ ]:
a = 0
b = 1
c = 0

while c <= 50:
  c = a + b
  a = b
  b = c
  if a % 2 != 0:
    print(a)

1
1
3
5
13
21

In [ ]:
list_bilangan_ganjil = []
for i in range(0,50):
  if i % 2 != 0:
    list_bilangan_ganjil.append(i)

In [ ]:
a = 0
b = 1
c = 0
list_fibbonaci_odd_below_50 = []
while c <= 50:
  c = a + b
  a = b
  b = c
  if a in list_bilangan_ganjil:
    list_fibbonaci_odd_below_50.append(a)
    print(a)

1
1
3
5
13
21

In [ ]:
list_fibbonaci_odd_below_50
# print bilangan fibonacci dan ganjil terakhir *below 50

list_fibbonaci_odd_below_50[-1]

21

In [ ]:
if 2 in list_bilangan_ganjil:
  print(True)
else:
  print(False)

False

In [ ]:
# Class - List
# method
# properties
# OOP - object oriented programming

In [ ]:
# 

jenis_kelamin = ({'English': 'Male',
                  'Indonesian': 'Laki-laki'}, 
                 {'English': 'Female',
                  'Indonesian': 'Perempuan'})

# Tuples -> Safe

# Perubahan -> Code Review -> Test -> Deployment
daftar_negara = ()

In [ ]:
jenis_kelamin[0] = {'English': 'Male', 'Indonesian': 'Laki2'}

TypeError: ignored

In [ ]:
behaviour_transaksi_user = [{
    'name': 'Krian',
    'platfrom': 'Web',
    'transaksi': [{
        'product_name': 'Sabun Mandi',
        'product_price': 5000,
        'product_qty': 3,
        'product_category': 'Alat Mandi'
      },
      {
        'product_name': 'Sikat Gigi',
        'product_price': 8000,
        'product_qty': 10,
        'product_category': 'Alat Mandi'
      },
      {
        'product_name': 'Handphone',
        'product_price': 10000000,
        'product_qty': 100,
        'product_category': 'Alat Mandi'
      }]
},
{
    'name': 'Bayu',
    'platfrom': 'Mobile',
    'transaksi': [{
        'product_name': 'Shampoo',
        'product_price': 10000,
        'product_qty': 2,
        'product_category': 'Alat Mandi'
      }]
}]

In [ ]:
behaviour_transaksi_user[0]['transaksi']

[{'product_category': 'Alat Mandi',
  'product_name': 'Sabun Mandi',
  'product_price': 5000,
  'product_qty': 3},
 {'product_category': 'Alat Mandi',
  'product_name': 'Sikat Gigi',
  'product_price': 8000,
  'product_qty': 10},
 {'product_category': 'Alat Mandi',
  'product_name': 'Handphone',
  'product_price': 10000000,
  'product_qty': 100}]

In [ ]:
# Total Belanja
total_belanja_fraudster = []
total_belanja_per_user = 0
for item_belanja in behaviour_transaksi_user[0]['transaksi']:
  total_belanja_per_user += item_belanja['product_price'] * item_belanja['product_qty'] # x += 1 -> x = x+1

total_belanja_fraudster.append(total_belanja_per_user)
  # print(item_belanja['product_price'] * item_belanja['product_qty'])

In [ ]:
total_belanja_fraudster
# misalkan 90% dari user yang belanja > 100 juta adalah fraud
# maka kita bisa consider menggunakan feature / variable bebas berupa total_belanja

[1000095000]

In [ ]:
import pandas as pd

data = [['Sikat Gigi', 18, 11000], ['Shampoo', 15, 20000], ['Sabun Mandi', 20, 8000]]

df = pd.DataFrame(data)
# df.rename(columns={"0": "Nama Produk", "1": "Qty", "2": "Harga"}, inplace=True)
# print(df.sum())
# nama barang, qty, harga
df.columns = ['Product Name', 'Qty', 'Price']

In [ ]:
print(df)

# list -> pandas : doable
# pandas -> list : doable

  Product Name  Qty  Price
0   Sikat Gigi   18  11000
1      Shampoo   15  20000
2  Sabun Mandi   20   8000

In [ ]:
# df[['Qty']].sum()
# df[['Qty']].mean()
df[['Price']].sum().values[0] * df[['Qty']].sum().values[0]
# df[['Qty']].sum()

2067000

In [ ]:
without_pandas = [['Sikat Gigi', 18, 11000], ['Shampoo', 15, 20000], ['Sabun Mandi', 20, 8000]]

# total QTY
total_qty = 0
for i in without_pandas:
  # print(i[1])
  total_qty += i[1]

print(total_qty)

53

In [ ]:
# print bilangan fibbonaci 1-20 yang juga merupakan bilangan prima
a = 0
b = 1
c = 0

list_bilangan_fibonacci = []
while c <= 20:
  c = a + b
  a = b
  b = c
  list_bilangan_fibonacci.append(a)

In [ ]:
list_bilangan_fibonacci

[1, 1, 2, 3, 5, 8, 13]

In [ ]:
list_bilangan_prima = []
counter_prima = 0
for i in range(1,20):
  for j in range(1, i+1):
    if i % j == 0:
      counter_prima += 1
  # print(i, 'counter_prima: ', counter_prima)
  if counter_prima == 2:
    # print(True)
    list_bilangan_prima.append(i)
  counter_prima = 0

In [ ]:
iterasi i saat 5
iterasi j dari 1 - 5

i % j 
1 -> counter_prima = 1
2 -> counter_prima = 1
3 -> counter_prima = 1
4 -> counter_prima = 1
5 -> counter_prima += 1 -> counter_prima = 2
di append ke list_bilangan_prima

iterasi i saat 6
iterasi j dari 1 - 6

i % j 
1 -> counter_prima = 1
2 -> counter_prima = 2
3 -> counter_prima = 3
4 -> counter_prima = 3
5 -> counter_prima = 3
6 -> counter_prima = 4
tidak di append

In [ ]:
list_bilangan_prima

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
prime = list()
for i in list_bilangan_fibonacci: # fibo udah dibuat di atas
  if i >= 2:
    n = i
  else:
    continue

  prime_flag = True
  for j in range(2, n):
    if (n % j == 0) and (prime_flag == True) :
      prime_flag = False

  if prime_flag:
    prime.append(n)

prime

[2, 3, 5, 13]

In [ ]:
list_bilangan_fibo_prima = []

for i in list_bilangan_fibonacci:
  if i in list_bilangan_prima:
    list_bilangan_fibo_prima.append(i)
list_bilangan_fibo_prima

[2, 3, 5, 13]

In [ ]:
n1, n2 = 0, 1
n_prime = 50
list_fibonacci_prime = []
while(n1 <= n_prime):
    count = 0
    i = 2
    while(i <= n1//2):
        if(n1 % i == 0):
            count += 1
            break
        i += 1
    if (count == 0 and n1!= 1 and n1!=0):
        list_fibonacci_prime.append(n1)
    fibonacci = n1 + n2
    n1 = n2
    n2 = fibonacci
print(list_fibonacci_prime)