In [ ]:
# Import Library
import pandas as pd

# CREATE

In [ ]:
#Create a dictionary
series1 = pd.Series(['Iphone', 'Advan Tab Sketsa 2', 'Lenovo Ideapad Slim 3'], 
                    index=['0','1','2'])
series2 = pd.Series(['Handphone', 'Tablet', 'Laptop'],
                    index=['0','1','2'])
series3 = pd.Series([13000000, 3000000, 6500000],
                    index=['0','1','2'])
series4 = pd.Series(['Jakarta', 'Bandung', 'Bandung'],
                    index=['0','1','2'])

# Create DataFrame
df = pd.DataFrame({'Name':series1, 'Category':series2, 
                   'Price':series3, 'Location':series4})

# Print the output.
print(df)

                    Name   Category     Price Location
0                 Iphone  Handphone  13000000  Jakarta
1     Advan Tab Sketsa 2     Tablet   3000000  Bandung
2  Lenovo Ideapad Slim 3     Laptop   6500000  Bandung

# READ

In [ ]:
print(df[:'0'])

     Name   Category     Price Location
0  Iphone  Handphone  13000000  Jakarta

# UPDATE

In [ ]:
series3['0'] = 10000000

# Create New DataFrame
df = pd.DataFrame({'Name':series1, 'Category':series2, 
                   'Price':series3, 'Location':series4})

# Print the output.
print(df)

                    Name   Category     Price Location
0                 Iphone  Handphone  10000000  Jakarta
1     Advan Tab Sketsa 2     Tablet   3000000  Bandung
2  Lenovo Ideapad Slim 3     Laptop   6500000  Bandung

# DELETE

In [ ]:
del series1['1']
del series2['1']
del series3['1']
del series4['1']

# Create New DataFrame
df = pd.DataFrame({'Name':series1, 'Category':series2, 
                   'Price':series3, 'Location':series4})

print(df)

                    Name   Category     Price Location
0                 Iphone  Handphone  10000000  Jakarta
2  Lenovo Ideapad Slim 3     Laptop   6500000  Bandung